.Form {
	width: 100%;
	height: 100%;
}

.Form__ErrorSection {
	border: var(--border-error);
}

.Form__FormControls {
	display: flex;
	flex-direction: column;
}

.Form__ActionButtons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Form__ActionButtons > * {
	margin: var(--double);
	max-width: 30%;
}

@media (max-width: 320px) {
	.Form__ActionButtons > * {
		max-width: 45%;
	}
}

@media (min-width: 1124px) {
	.Form__FormControls {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
}
