:root {
	/* --font-main: 'Noto Sans', sans-serif; */
	--font-main: 'Montserrat', sans-serif;
	--font-secondary: 'Raleway', sans-serif;
	--black: #333333;
	--white: #ffffff;
	--grey: #cccccc;
	--blue: #00a2ff;
	--blue-dark: #018ddf;
	--red: #d30000;
	--error: var(--red);
	--border: 1px solid var(--black);
	--border-error: 1px solid var(--error);
	--focus-color: var(--blue);
	--focus-outline: 2px solid var(--focus-color);
	--unit: 5;
	--single: calc(var(--unit) * 1px);
	--double: calc(var(--unit) * 2px);
	--triple: calc(var(--unit) * 3px);
	--font-min: 14px;
	--font-reg: 16px;
	--font-label: 26px;
	--font-max: 50px;
	--view-padding: 5% 25%;
	--view-padding-mobile: 1% 5%;
	--navbar-height: 100px;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr,
canvas {
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font-secondary);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-main);
	font-weight: bold;
	letter-spacing: 0.1em;
}

p {
	font-family: var(--font-secondary);
	letter-spacing: 0.1em;
}

ul {
	list-style: none;
}

input,
textarea,
select,
button {
	color: inherit;
	font: inherit;
	letter-spacing: inherit;
	border: 1px solid gray;
}

button {
	border-radius: 0;
	padding: 0.75em 1em;
	background-color: transparent;
	font-family: var(--font-main);
	letter-spacing: 0.1em;
}

embed,
iframe,
img,
object,
video,
canvas {
	display: block;
	max-width: 100%;
}

table {
	table-layout: fixed;
	width: 100%;
}

[hidden] {
	display: none !important;
}

noscript {
	display: block;
	margin-bottom: 1em;
	margin-top: 1em;
}
